 1- Imposto a pagar no Lucro Presumido

- 5% sobre faturamento de ISS (mensal)
- 0,65% de PIS sobre faturamento, (mensal)
- 3% de COFINS sobre faturmaneto, (mensal)
- 4.8% de IR (trimestral)
- 10% de IR Adicional sobre o que ultrapassar 20mil do faturamento (trimestral)
- CSLL: 2,88% sobre faturamento (trimestral)

In [12]:
faturamento = {
    'jan': 'R$ 95.141,98',
    'fev': 'R$ 95.425,16',
    'mar': 'R$ 89.716,31',
    'abr': 'R$ 78.459,99',
    'mai': 'R$ 71.087,28',
    'jun': 'R$ 83.911,06',
    'jul': 'R$ 56.467,26',
    'ago': 'R$ 88.513,58',
    'set': 'R$ 66.552,49',
    'out': 'R$ 80.164,07',
    'nov': 'R$ 66.964,33',
    'dez': 'R$ 71.525,25',
}

# você precisa inserir no sistema um dicionário no formato:

# resultado = {
#     'mes': (faturamento, imposto_mensal, imposto_trimestral),
# }

# passo a passo do código.

# para cada mês de faturamento 
 #transformar o faturamento de mês para número.
 #calcular o imposto mensal 
# calcular o i posto trimestral 
#adicionar o faturamento, imposto mensal, imposto trimestral  no dicionário resultado.
 
def transformar_em_numero(texto):
    texto = texto.replace('R$', '')
    texto = texto.replace(' ', '')
    texto = texto.replace('.', '')
    texto = texto.replace(',', '.')
    return float(texto)

def calcular_imposto_mensal(valor_faturamento):
    iss = valor_faturamento * 0.05
    pis = valor_faturamento * 0.65
    cofins = valor_faturamento * 0.03
    imposto_mensal = iss + pis + cofins
    return imposto_mensal 

def calcular_imposto_trimestral(valor_faturamento):
   ir = valor_faturamento * 0.048
   csll = valor_faturamento * 2.88
   adicional_ir = 0
   if valor_faturamento >2000:
        adicional_ir = (valor_faturamento - 2000) * 0.1
   imposto_trimestral = ir + csll + adicional_ir
   return  imposto_trimestral

resultado = {}
for mes in faturamento:
    valor_faturamento = transformar_em_numero(faturamento[mes])
    imposto_mensal = calcular_imposto_mensal(valor_faturamento)
    imposto_trimestral = calcular_imposto_trimestral(valor_faturamento)
    resultado[mes]= (valor_faturamento, imposto_mensal, imposto_trimestral)
print(resultado)

{'jan': (95141.98, 69453.6454, 287889.91543999995), 'fev': (95425.16, 69660.3668, 288747.38448), 'mar': (89716.31, 65492.906299999995, 271460.98668), 'abr': (78459.99, 57275.792700000005, 237376.84972000003), 'mai': (71087.28, 51893.714400000004, 215052.28384), 'jun': (83911.06, 61255.0738, 253882.68967999998), 'jul': (56467.26, 41221.0998, 170782.86328), 'ago': (88513.58, 64614.913400000005, 267819.12024), 'set': (66552.49, 48583.3177, 201320.93972000002), 'out': (80164.07, 58519.77110000001, 242536.80396000002), 'nov': (66964.33, 48883.960900000005, 202567.99124), 'dez': (71525.25, 52213.432499999995, 216378.457)}

### 2 - Puxando informações de um banco de Dados

In [23]:

# puxando informações SQL de um banco de dados
informacoes = [(1, 'NATHANIEL FORD', 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 167411.18, 0.0, 400184.25, None, 567595.43, 567595.43, 2011, '', 'San Francisco', ''), (2, 'GARY JIMENEZ', 'CAPTAIN III (POLICE DEPARTMENT)', 155966.02, 245131.88, 137811.38, None, 538909.28, 538909.28, 2011, '', 'San Francisco', ''), (3, 'ALBERT PARDINI', 'CAPTAIN III (POLICE DEPARTMENT)', 212739.13, 106088.18, 16452.6, None, 335279.91, 335279.91, 2011, '', 'San Francisco', ''), (4, 'CHRISTOPHER CHONG', 'WIRE ROPE CABLE MAINTENANCE MECHANIC', 77916.0, 56120.71, 198306.9, None, 332343.61, 332343.61, 2011, '', 'San Francisco', ''), (5, 'PATRICK GARDNER', 'DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)', 134401.6, 9737.0, 182234.59, None, 326373.19, 326373.19, 2011, '', 'San Francisco', ''), (6, 'DAVID SULLIVAN', 'ASSISTANT DEPUTY CHIEF II', 118602.0, 8601.0, 189082.74, None, 316285.74, 316285.74, 2011, '', 'San Francisco', ''), (7, 'ALSON LEE', 'BATTALION CHIEF, (FIRE DEPARTMENT)', 92492.01, 89062.9, 134426.14, None, 315981.05, 315981.05, 2011, '', 'San Francisco', ''), (8, 'DAVID KUSHNER', 'DEPUTY DIRECTOR OF INVESTMENTS', 256576.96, 0.0, 51322.5, None, 307899.46, 307899.46, 2011, '', 'San Francisco', ''), (9, 'MICHAEL MORRIS', 'BATTALION CHIEF, (FIRE DEPARTMENT)', 176932.64, 86362.68, 40132.23, None, 303427.55, 303427.55, 2011, '', 'San Francisco', ''), (10, 'JOANNE HAYES-WHITE', 'CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)', 285262.0, 0.0, 17115.73, None, 302377.73, 302377.73, 2011, '', 'San Francisco', '')]
descricao = (('Id', "<class 'int'>", None, 10, 10, 0, True), ('EmployeeName', "<class 'str'>", None, 65536, 65536, 0, True), ('JobTitle', "<class 'str'>", None, 65536, 65536, 0, True), ('BasePay', "<class 'float'>", None, 54, 54, 0, True), ('OvertimePay', "<class 'float'>", None, 54, 54, 0, True), ('OtherPay', "<class 'float'>", None, 54, 54, 0, True), ('Benefits', "<class 'float'>", None, 54, 54, 0, True), ('TotalPay', "<class 'float'>", None, 54, 54, 0, True), ('TotalPayBenefits', "<class 'float'>", None, 54, 54, 0, True), ('Year', "<class 'int'>", None, 10, 10, 0, True), ('Notes', "<class 'str'>", None, 65536, 65536, 0, True), ('Agency', "<class 'str'>", None, 65536, 65536, 0, True), ('Status', "<class 'str'>", None, 65536, 65536, 0, True))

# precisamos 1º de uma lista com o nome das colunas para poder organizar as colunas da nossa tabela:
# o nome das colunas está na variável descrição, dê uma olhada.

import pandas as pd

colunas = []
for tuplas in descricao:
    colunas.append(tuplas[0])
print(colunas)


# tabela = pd.DataFrame.from_records(informacoes)
# para acertar nossa tabela, vamos precisar fazer:
tabela = pd.DataFrame.from_records(informacoes, columns=colunas) # onde colunas é uma lista com o nome das colunas
display(tabela)


# além disso, precisamos enviar por e-mail para o RH uma lista com o nome e o cargo de cada pessoa da tabela 
# então você precisa construir o texto do corpo desse email do tipo:

# texto = """
# RH, segue a lista dos funcionários:
# Fulano, Cargo: tal
# Beltrano, Cargo: isso
# """
texto = 'RH, segue a lista de funcionários:'
# para cada item das nossas informações
#pegar o nome do funcionário -> tupla [1]
#pegar o cargo do funcionário -> tupla [2]
# adicionar uma nova linha no texto e adicionar fulana, cargo: tal 

for tupla in informacoes:
    nome_funcionario = tupla[1]
    cargo = tupla[2]
    texto = texto + f'\n{nome_funcionario}, Cargo: {cargo}'
print(texto)

['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay', 'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency', 'Status']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,None,567595.43,567595.43,2011,,San Francisco,
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,None,538909.28,538909.28,2011,,San Francisco,
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,None,335279.91,335279.91,2011,,San Francisco,
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,None,332343.61,332343.61,2011,,San Francisco,
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,None,326373.19,326373.19,2011,,San Francisco,
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,None,316285.74,316285.74,2011,,San Francisco,
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,None,315981.05,315981.05,2011,,San Francisco,
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,None,307899.46,307899.46,2011,,San Francisco,
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,None,303427.55,303427.55,2011,,San Francisco,
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,None,302377.73,302377.73,2011,,San Francisco,

RH, segue a lista de funcionários:
NATHANIEL FORD, Cargo: GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
GARY JIMENEZ, Cargo: CAPTAIN III (POLICE DEPARTMENT)
ALBERT PARDINI, Cargo: CAPTAIN III (POLICE DEPARTMENT)
CHRISTOPHER CHONG, Cargo: WIRE ROPE CABLE MAINTENANCE MECHANIC
PATRICK GARDNER, Cargo: DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
DAVID SULLIVAN, Cargo: ASSISTANT DEPUTY CHIEF II
ALSON LEE, Cargo: BATTALION CHIEF, (FIRE DEPARTMENT)
DAVID KUSHNER, Cargo: DEPUTY DIRECTOR OF INVESTMENTS
MICHAEL MORRIS, Cargo: BATTALION CHIEF, (FIRE DEPARTMENT)
JOANNE HAYES-WHITE, Cargo: CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)